.ui.inverted.menu {
  border-radius: 0;
}

.ui.header.header-top {
  margin: 40px 0 40px 0;
}
.ui.grid.container {
  margin-top: 20px;
}

.sort {
  margin-right: 20px;
  display: inline-block;
}
.filter {
  margin-bottom: 20px;
}

button {
  margin: 0 5px 0 5px
}

.ui.six.wide.column {
  padding-left: 0;
}
